*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background: #b0c4e0;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b0c4e0;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #9bb5da;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #00000059;
}
.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}